# env
.env
/venv
# build artifacts
/mb
/incoming
/meta-bridge
*.exe
*.txt
# extraction output
/output/

# editor detritus
.vscode/
.idea/
*.swp
*.swo
.DS_Store
*.Identifier
# go
/vendor/

# pdf
*.pdf
